body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    border: 0px;
    border-bottom: black;
    border-style: solid;
}
.log {
    background-color: rgba(255, 255, 255, 0.829);
    width: 450px;
    height: 150px;
    overflow: scroll;
    border: 1px;
    border-style: solid;
    padding: 3px;
  }
  .added{
    float: right;
    border-left: solid;
    padding: 5px;
    height: 800px;
  }
  .milestone{
      width:400px;
  }